
.testimonials-container {
    padding: 10px;
    background-color: #f5f5f5; 
}


.testimonial {
    padding: 10px;
    border: 1px solid #ddd; 
    background-color: #ffffff; 
    margin-bottom: 10px;
    border-radius: 3px; 
}


.testimonial-text {
    font-size: 16px;
    color: #333; 
}

.testimonial-author {
    text-align: right; 
    font-style: italic; 
    color: #555; 
    margin-top: 10px; 
}
